/*font-family: 'Poppins', sans-serif;*/
/*font-family: 'ZCOOL XiaoWei', serif;*/
/*font-family: 'Sree Krushnadevaraya', serif;*/
/*font-family: 'Righteous', cursive;*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'ZCOOL XiaoWei', serif;
}

.active {
	background-color: #3b5998;
	border-bottom: 2px solid black;
}

/*landing page start*/

#carousel-landing img {
	height: 100vh;
	position: relative;
}

#first-cap {
	font-family: 'Sree Krushnadevaraya', serif;
	letter-spacing: 2px;
	text-shadow: 2px 2px 3px #141414;
	position: absolute;
	bottom: 25%
}

#second-cap {
	font-family: 'Sree Krushnadevaraya', serif;
	letter-spacing: 2px;
	text-shadow: 2px 2px 3px #141414;
	position: absolute;
	bottom: 35%
}

#third-cap {
	font-family: 'Sree Krushnadevaraya', serif;
	letter-spacing: 2px;
	text-shadow: 2px 2px 3px #141414;
	position: absolute;
	bottom: 35%
}

#btn-landing {
	color: #f2f2f2;
}


#carousel-quotes img {
	width: 10%;
}


/*landing page end*/
.navbar {
	background-color: #141414;
}

.navbar-brand {
	font-size: 1.5rem;
	letter-spacing: .8rem;
}

#top1 {
	height: 100%;
	width: 100%;
	background-image: url(../images/try1.png);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;	
}

.jumbotron {
	border-radius: 0;
}


#title-home {
	margin-top: 10rem;
	margin-bottom: 10em;
}

.title-home {
	color: #f2f2f2;
	text-shadow: 3px 3px 5px #141414;
	letter-spacing: 5px;
	font-size: 2rem;
}

#menu-pic img {
	/*border-radius: 100%;*/
	margin-top: 2rem;
}

#menu-title {
	color: #f2f2f2;
	text-shadow: 2px 2px 3px #141414;
}
/*
#btn-menu {
	text-shadow: 1px 1px 1px;
	text-decoration: none;
	color: #f2f2f2;*/
/*}*/

#books-home {
	color: #141414;
	text-shadow: 3px 3px 3px #f2f2f2;
	text-decoration: none;
}

#donate {
	color: #141414;
	text-shadow: 3px 3px 3px #f2f2f2;
	text-decoration: none;
}

#donate-books {
	padding-top: 5rem;
	color: #141414;
	text-shadow: 2px 2px 2px #a8a8a8;
}

#quotes-home {
	padding-top: 2rem;
	color: #f2f2f2;
	text-shadow: 2px 2px 2px #141414;
}

#carousel-quotes{
	padding: 3rem;
	/*height: 20vh;
	max-height: 20vh;*/
}

.comments {
	background-color: #f2f2f2;
}

#carousel-comments {
	height: 50vh;
	max-height: 50vh;
}

/*end home page*/

/*#test-lib {
	background-image: url("../images/landwall.jpg");
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}*/

/*#lib-title{
	margin-top: 8%;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	background-color: #230c00;
	color: #f2f2f2;
	text-shadow: 3px 3px 3px #141414;
	margin-top: 2rem;
}
*/
/*#lib-content {
	padding-top: 5rem;
	margin: 2rem;
}*/

/*#most-pop {
	margin-top: 2rem;
	padding-bottom: 2rem;
	letter-spacing: .8em;
}*/

/*#lib-text {
	margin-top: 5rem;
	text-shadow: 2px 2px 2px #f2f2f2;
}*/
 /*end library*/

/* start about*/

#vision-card,
#mission-card {
	color: #f2f2f2;
	text-shadow: 2px 2px 2px #141414;
	box-shadow: 5px 5px 15px #141414;
	transition: all 0.3s ease-in;
	margin-bottom: 3rem;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
}

#team {
	background-image: url(../images/6.jpg);
	background-position: center center;
	background-size: cover;
	padding-left: 5rem;
	padding-top: 5rem;
}

#our-team {
	margin-top: 2rem;
	text-shadow: 2px 2px 5px #f2f2f2;
}

#team img {
	margin-top: -50px;
}

#person3 {
	width: 100%;
	height: 100%;
}

#team .card {
	border-radius: 5%;
	color: #f2f2f2;
	box-shadow: 5px 5px 15px #141414;
	transition: all 0.3s ease-in;
	margin-bottom: 3rem;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
}

#team .card:hover {
	background-color: #a8a8a8;
	border-radius: 5px;
	border: none;
	box-shadow: 5px 5px 15px blue;
}

#team .card:hover h3, #team .card:hover h5,{
	color: #f2f2f2;
}

#connect-us {
	letter-spacing: 2px;
	text-shadow: 2px 2px 2px #f2f2f2;
}


.fa-facebook,
.fa-twitter,
.fa-instagram {
	font-size: 3rem;
	letter-spacing: 2rem;
}

.fa-facebook {
	color: #3b5998;
}

.fa-twitter {
	color: #00acee;
}

.fa-instagram {
	color: #3f729b;
}


/*end about*/

/*start gallery*/

#gallery-ep1 {
	background-image: url(../images/6.jpg);
	background-position: center center;
	background-size: cover;
}

#gall-title {
	margin-top: 5rem;
	letter-spacing: 5px;
	font-family: 'Sree Krushnadevaraya', serif;
	font-weight: 500;
	text-shadow: 2px 2px 2px #f2f2f2;
}

#gallery-col {
	box-shadow: 0;
	border: 0;
}
#gallery-col .card:hover {
	background-color: rgb(168,168,168);
	border-radius: 5px;
	border: none;
	box-shadow: 5px 5px 15px blue;
}


/*end gallery page*/

/*start contact*/

#contact-bg {
	background-image: url(../images/6.jpg);
	background-position: center center;
	background-size: cover; 
	text-shadow: 1px 1px 2px #f2f2f2;
}

#maps-contact {
	margin-bottom: 5rem;
	padding-right: 1rem;
}

/*end contact*/

 /*start footer*/

 .footer{
	background-color: #141414;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin: 0;
	color: #f2f2f2;
}


/*end footer*/



/*media queries*/
/*mobile view*/
@media only screen and (max-width: 400px) {
	#carousel-landing {
	height: 100vh;
	position: relative;
	}

	#first-cap {
	font-family: 'Sree Krushnadevaraya', serif;
	letter-spacing: 2px;
	text-shadow: 2px 2px 3px #141414;
	text-align: center;	
	}

	#team {
	background-image: url(../images/24.jpg);
	background-position: center center;
	background-size: cover;
	padding-right: 0;
	padding-left: 0;
	/*padding-left: 5rem;
*/	padding-top: 5rem;
	}

/*	#missing-card {
		background-color: #a8a8a8;
	}
*/
	#missing-card .card {
	border-radius: 5%;
	color: #141414;
	box-shadow: 5px 5px 15px #141414;
	transition: all 0.3s ease-in;
	margin-bottom: 3rem;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	background-color: #a8a8a8;
	text-shadow: 2px 2px 2px #f2f2f2;
	}

}


/*tablet view*/
@media only screen and (min-width: 401px) and (max-width: 960px) {
	#carousel-landing img {
	height: 100vh;
	position: relative;
	}
}

/*desktop view*/
/*large screen grid*/
@media only screen and (min-width: 961px) {
	#nav-land {
	visibility: hidden;
	}
}